[user]
	email = duffy.tilleman@gmail.com
	name = Duffy Tilleman
[color]
	ui = true
[alias]
	s = status
	d = diff
	dc = diff --cached
  unstage = reset HEAD
	logp = log --pretty=fullline
	logpa = log --pretty=fullline --graph --all
  shelve = commit -m 'shelve'
  unshelve = reset --soft HEAD^
  branches-by-date = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
  stash-staged = !bash -c "git commit -m 'shelve' && git add -u && git stash && git reset HEAD^"

[core]
	editor = /usr/bin/vim
	autocrlf = false
	trustctime = false
[push]
	default = simple
[pretty]
  fullline = tformat:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[merge]
	tool = vimdiff
[heroku]
	account = duffy
[rebase]
	autosquash = true
[grep]
	extendedRegexp = true
[rerere]
	enabled = true
[bulkworkspaces]
	plethora = .
