snippet json "<pre>json</pre>" w
<json-formatter json="$1" open="2"></json-formatter>
endsnippet

snippet pill "Plethora pill element" w
<div class="pill">
	<span>$1</span>
	<span>$2</span>
</div>
endsnippet

snippet table "Table" w
<table class="pTable">
	<thead>
		<tr>
			$1
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="$2">
			$3
		</tr>
	</tbody>
</table>
endsnippet
